<h3>Sign up</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <form role="form">
    <div class="form-group">
      <label for="InputNome">Nome :</label>
      <%= f.text_field :name, :class => "form-control", :placeholder => "Insira nome de utilizador", :autofocus => true %>
    </div>
    <div class="form-group">
      <label for="InputEmail">Email</label>
      <%= f.email_field :email, :class => "form-control", :placeholder => "Insira o seu email" %>
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <%= f.password_field :password, :class => "form-control", :placeholder => "Insira a password" %>
    </div>
    <div class="form-group">
      <label for="InputPassword_Confirmation">Confirmar password</label>
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirme a sua password" %>
    </div>
    <div><%= f.submit "Registar", class: 'btn btn-primary' %></div>
  </form>
<% end %>
