<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <form role="form">
  <div class="form-group">
    <label for="InputTitulo">Título</label>
    <%= f.text_field :titulo, :class => "form-control", :placeholder => "Insira o título do post" %>
  </div>
  <div class="form-group">
    <label for="InputAddress">Localização</label>
    <%= f.text_field :address, :class => "form-control", :placeholder => "Insira a sua localização" %>
  </div>
  <div class="form-group">
    <label for="InputConteudo">Conteúdo</label>
    <%= f.text_area :conteudo, :rows => 8, :class => "form-control", :placeholder => "Insira conteúdo" %>
  </div>
  <div class="form-group">
    <label for="InputImagem">Imagem</label>
    <%= f.file_field :avatar %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% end %>
