<% @posts.each do |post| %>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <%= image_tag post.avatar.url (:small)%>
      <div class="caption">
        <h3><%= link_to post.titulo, post %></h3>
        <p><%= post.conteudo %></p>
        <p>
        	<%= link_to 'Ver Mais', post, class: 'btn btn-primary' %>
          <% if user_signed_in? %>
        	<%= link_to 'Editar', edit_post_path(post), class: 'btn btn-default' %>
        	<%= link_to 'Excluir', post, class: 'btn btn-default', :confirm => 'Tem certeza?', :method => :delete %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<%end%>