<p class="notice"><%= notice %></p>

<h2><%= @post.titulo %></h2>

<p style="text-align: center">
  <%= image_tag @post.avatar.url (:medium)%>
</p>

<p><%= @post.conteudo %></p> 

<h3>Comentários :</h3>
<% @post.comentarios.each do |comentario| %>

  <p>
    <b>Autor:</b>
    <%= comentario.autor %>
  </p>

  <p>
    <b>Comentario</b>
    <%= comentario.conteudo %>
  </p>
<p>
  <%= link_to 'Apagar Comentario', [comentario.post, comentario],
              :confirm => 'Tem certeza?',
              :method => :delete %>
</p>

<hr />
<% end %>
 
<h4>Adicione um comentário:</h4>
<%= form_for([@post, @post.comentarios.build]) do |f| %>
  <form role="form">
    <div class="form-group">
      <label for="InputAutor">Autor</label>
      <%= f.text_field :autor, :class => "form-control", :placeholder => "Insira Autor" %>
    </div>
    <div class="form-group">
      <label for="InputConteudo">Conteúdo</label>
      <%= f.text_area :conteudo, :rows => 3, :class => "form-control", :placeholder => "Insira conteúdo" %>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<% end %>
 
<br />

<%= link_to 'Editar Post', edit_post_path(@post), :class=>"btn btn-default" %>
<%= link_to 'Back', posts_path, :class=>"btn btn-primary" %>