<%- if user_signed_in? %>
  <div>
  	<p>
  		<font color="white">Bem-Vindo <%= current_user.name %></font>
  	<%= link_to 'Sair', destroy_user_session_path, :method => :delete, class: 'btn btn-default' %>
  	<%= link_to 'Editar perfil', edit_user_registration_path(@user, class: 'btn btn-default')%></p>
  </div>
<%- else %>
  <p>
    <%= link_to 'Registar', new_user_registration_path, class: 'btn btn-default' %>
    <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-default' %>
  </p>
<%- end %>