<!DOCTYPE html>
<html>
<head>
  <!--<link href= "/dist/css/bootstrap.min.css", rel="stylesheet">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Blog dos Zés" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blog do Zés" %>">
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header>
  <div>
    <h1>BLOG DOS ZÉS</h1>
  </div>
  <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="glyphicon glyphicon-home"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </div>

      <div class="navbar-right">
        <div id="secondaryContent" class="text-left">
          <%= render 'devise/common/session' %>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="glyphicon glyphicon-home"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to 'New Post', new_post_path, class: 'navbar-brand' %>
      </div>
  </nav>
</header>

<main role="main">
  <%=yield%>
<main>

</body>

</html>